.department-form input,
.department-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
 
.btn-orange {
    color: #ff6b00;
  border: 1px solid #ff6b00;
  background-color: #fff;
  font-size: 14px;
}
 
.btn-orange:hover {
  background-color: #ff6b00;
  color:#fff;
}
 
.btn-outline-orange {
  color: #ff6b00;
  border: 1px solid #ff6b00;
  background-color: #fff;
  font-size: 14px;
}
 
.btn-outline-orange:hover {
  background-color: #ff6b00;
  color: white;
}
 
.department-item {
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 16px;
  transition: box-shadow 0.2s ease-in-out;
  background-color: #fff;
}
 
.department-item:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.07);
}
 
.job-bullet {
  width: 4px;
  height: 4px;
  background-color: orange;
  border-radius: 50%;
}
 
.custom-dropdown .dropdown-toggle::after {
  display: none;
}
.editanddelete{
    cursor: pointer;
    color: #e65c00;
}.text-orange {
  color: #746def;
}
.department-form .form-label {
  font-weight: 500;
}
/* Modal width */
.wide-modal {
  max-width: 900px;
}
/* Orange header text */
.text-orange {
  color: #746def;
}
/* Label styling */
.department-form .form-label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
  font-size: 0.95rem;
}
.table-header-orange th {
  color: #746def;
  font-weight: 600;
  padding: 12px !important;
  font-size: 14px;
}
.table-body-orange td {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";  padding: 12px !important;
  font-size: 14px;
}
.dept_table {
  margin-bottom: 0px !important;
font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";   font-size:13px !important;
  font-weight: 300 !important;
}
.deptfon{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";}
.deptfon h2{
  font-size: 18px;
   color: #746def;
   font-weight: 600;
}
.doccss .pr-35{
  padding-right: 40px !important;
}
.doccss .p-2 {
	padding-right: 25px !important;
}
