.formbackground{
background:#fff;
  
}


.uploadfile hover{
    background:none !important;
    color: #000 !important;
}
.downloadfile hover, .btn-outline-primary hover{
    background:none !important;
    color: #000 !important;
}
.formSpace{
    padding-right: 4px;
    padding-left: 4px;
}
.fontss{
     font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
.fonall{
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";    font-weight: 600 !important;  /* 600 = semibold */
    font-size: 15px !important;
   color: #746def;
}

.footspace{
    padding-bottom: 5px;
    padding-top: 5px;
}
/* Style for input and textarea placeholders */
.form-control::placeholder {
  color: #a0a0a0; /* Or any specific color you want */
  opacity: 1; /* Firefox has a different default opacity */
}


/* Dropdown default (when value="") should look like placeholder */
.form-select option[value=""] {
  color: #a0a0a0 !important;
  font-weight: 300 !important;
}
.job-form .form-label
{
  color: #313131 !important;
  font-size:14px !important;
  font-weight:500 !important;
}
.job-form .form-select, .job-form input,.job-form textarea{
color: #000 !important;
  font-size:14px !important;
  font-weight:400 !important
}
.job-form .fontss{
    color: #000 !important;
  font-size:13px !important;
  font-weight:500 !important;
}
.popform{
    float:left; width:45%
}
.h1font{
  font-size: 28px !important;
  font-weight: bold;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}

.popover-arrow {
  display: none !important;
}
.popover-header{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.text-base{
  font-size: 14px !important;
  padding-left: 10px;
}
.btn-outline-secondary{
  border: 1px solid #000 !important;
}
.btn-outline-secondary:hover{
  background-color: #6c757d !important;
  color: #fff !important;
}
.spadei .text-base{
  padding-left: 0 !important;
}
.popover-header {
	padding: 8px 15px;
	margin-bottom: 0;
	font-size: var(--bs-popover-header-font-size);
	color: var(--bs-popover-header-color);
	background-color: #e9ecef;
	border-bottom: 1px solid rgba(0,0,0,0.175) !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.popover-body {
	padding: 15px;
	color: var(--bs-popover-body-color);
}