.review_input label, .review_input input, .review_input textarea{
  font-size: 14px;
}
.nav-links.active{
    color: black !important;
}
.bornav {
    color: black;
}
.candidate-modal-form .modal-title {
  color: rgb(45, 45, 88);
  font-weight: bold;
}